@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .ctPseudo {
    @apply content-[''] w-0 bg-black dark:bg-white transition-all duration-500 absolute h-0.5 -bottom-1 hover:w-7/12
  }
}

.hoverLinkEffect {
  @apply after:ctPseudo before:ctPseudo before:left-1/2 after:right-1/2
}

body {
  @apply bg-neutral-200 dark:bg-darkBlue
}

.container {
  @apply mx-auto w-full max-w-[1600px] px-6
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: #949494;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #545454;
  border-radius: 14px;
}
